.stats {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.stats td, .stats th {
    border: 1px solid #ddd;
    padding: 8px;
}

.stats tr:nth-child(even){background-color: #f2f2f2;}

.stats tr:hover {background-color: #ddd;}

.stats th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #428bca;
    color: white;
}

.button {
	padding:0px;
	color:#FFFFFF;
	background-color:#6694FF;
	border:0px;
	width:125px;
	font-weight:bold;
	height:25px;
	font-family:arial,Helvetica,sans-serif;
	font-size:14px;
}

.button:active {
	position:relative;
	top:1px;
}
